# Ignore everything
*

*/**.DS_Store
.DS_Store
**__pycache__

# But not these file types
!**.json
!**.JSON
!**.csv
!**.md
!**.CSV
!**.MD

# Don't ignore hidden files (files starting with .)
!.*

# Don't ignore the .gitignore file itself
!.gitignore

# keep hidden directories
!.*/**


!content_summaries/
!content_summaries/**

# Don't ignore directories (so git can traverse them)
#!*/

# If you want to keep specific directories or their contents
# uncomment and modify the following:
# !specific_folder/
# !specific_folder/**
