name: Process New Issue
on:
  issue:
    types: [opened, edited]

permissions:
  issues: write
  contents: write
  pull-request: write

jobs:
  process-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Parse and process issue
        uses: WCRP-CMIP/CMIPLD/actions/new-issue@main
