name: Process New Issue
on:
  issues:
    types: [opened, edited]
  schedule:
    - cron: 30 17 * * 5
  workflow_dispatch:

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  process-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: install dependencies
        run: |
          pip install tqdm
          pip install jinja2
          pip install pyyaml
      
      - name: Parse and process issue
        uses: mo-laurenboon/WCRP-universe-template-generation-workflow/actions/new-issue@main
        
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: src-data

      - name: Switch to src-data branch
        run: git checkout src-data
   
      - name: Generate all csv and py files
        run: |
          python generate_all_templates.py
          
          git add .
          git commit -m "CSV and py templates updated." || echo "No changes to commit."
          git push origin src-data

      - name: Generate issue templates
        id: generate_templates
        run: |
          python template_generator.py

          OUTPUT=$(find . -type f -name "*.yml" | paste -sd " " -)
          echo "templates=$OUTPUT" >> $GITHUB_OUTPUT

          git add .
          git commit -m "Issue form templates updated." || echo "No changes to commit."
          git push origin src-data

      - name: Generate issue form handler scripts
        run: |
          python .github/ISSUE_SCRIPT/generate_handlers.py

          git add .
          git commit -m "Handler files updated." || echo "No changes to commit."
          git push origin src-data
      
      - name: Checkout main
        run: git checkout main

      - name: Commit issue templates back to main
        run: |
          git add "${{ steps.generate_templates.outputs.templates }}"
          git commit -m "Issue form templates updated." || echo "No changes to commit."
          git push origin main
