name: Process New Issue
on:
  issues:
    types: [opened, edited]
  schedule:
    - cron: 30 17 * * 5
  workflow_dispatch:

permissions:
  issues: write
  contents: write
  pull-requests: write

jobs:
  process-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Parse and process issue
        uses: mo-laurenboon/WCRP-universe-template-generation-workflow/actions/new-issue@main
        
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: src-data
          
      - name: Switch to src-data branch
        run: git checkout src-data

      - name: Trigger issue handler
        run: |
          ISSUE_TITLE="${{ github.event.issue.title }}"
          echo "ISSUE_TITLE DEFINED SUCCESSFULLY"
          SCRIPT=$(echo "$ISSUE_TITLE" | cut -d':' -f2 | xargs | tr '[:upper:]' '[:lower:]').py
          echo "SCRIPT DEFINED SUCCESSFULLY as $SCRIPT"
          python .github/ISSUE_SCRIPT/$SCRIPT

          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"
          git add **/*.json
          ls -l .github/ISSUE_SCRIPT/*.json
          git commit -m "New JSON file added from issue form." || echo "No changes to commit."
          git push origin src-data
      
      - name: Generate all csv and py files
        run: |
          python generate_all_templates.py
          
          git add *.csv
          git add *.py
          git commit -m "CSV and py templates updated." || echo "No changes to commit."
          git push origin src-data

      - name: Generate issue templates
        run: |
          python template_generator.py

          git add .
          git commit -m "Issue form templates updated." || echo "No changes to commit."
          git push --set-upstream origin src-data

      - name: Generate issue form handler scripts
        run: |
          python .github/ISSUE_SCRIPT/generate_handlers.py

          git add .
          git commit -m "Handler files updated." || echo "No changes to commit."
          git push origin src-data
      
      - name: Checkout main
        run: git checkout main

      - name: Commit templates back to main
        run: |
          cp .github/ISSUE_TEMPLATE/*.py .

          git add *.py
          git commit -m "Issue form templates updated." || echo "No changes to commit."
          git push origin main





      


      
